@model List<GestorEstudiantil.Models.Semestre>
@{
    ViewData["Title"] = "Index";
}
<h2>Listado de semestres</h2>


<a asp-action="Agregar">Crear nuevo semestre</a>

<br /><br />

<table class="table">
    <tr>
        <td>Número</td>
        <td>Nombre del semestre</td>
        <td>Cantidad de materias</td>
        <td>Acciones</td>
    </tr>
    @foreach (var semestre in Model)
    {
        <tr>
            <td>@semestre.SemestreId</td>
            <td>@semestre.NombreSemestre</td>
            <td>@(semestre.Materias != null ? semestre.Materias.Count : 0)</td>
            <td>
                <a asp-action="Editar" asp-route-id="@semestre.SemestreId">Editar</a> |
                <a asp-action="VerDetalles" asp-route-id="@semestre.SemestreId">Ver detalles</a> |
                <a asp-action="Borrar" asp-route-id="@semestre.SemestreId">Borrar</a>
            </td>
        </tr>
    }
</table>
